@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.otf') format('opentype');
}

body {
    font-family: 'Poppins-Regular';
}

.name {
    font-size: 1.5rem;
    margin-left: 30px;
}

header {
    height: 85vh;
}

.icons {
    margin-left: 30px;
}

.icons li a {
    font-size: 1.5rem;
}