/* Styling for Mobile (defined to point here in the HTML)*/ 

/* change the font for the name */ 
@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.otf') format('opentype');
}

/*use the new font*/
body {
    font-family: 'Poppins-Regular';
}

/*name styling*/
.name {
    font-size: 1.5rem;
    margin-left: 30px;
}

/*pushes down the name/icons*/
header {
    height: 85vh;
}

/*icon spacing*/
.icons {
    margin-left: 30px;
}

/*icon sizing*/
.icons li a {
    font-size: 1.5rem;
}