@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@700&display=swap');
@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins-Medium.otf') format('opentype');
  }

@keyframes movingBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}


body {
    /*background: linear-gradient(45deg, #2c3e50, #1e272e);*/
    background-image: url('pexels-marek-piwnicki-12638474.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins-Medium', Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    animation: movingBackground 1000s linear infinite;
}

.container {
    background-color: white; /* Set the desired background color */
    position: relative;
    z-index: 1;
  }

header {
    display: flex;
    flex-direction: column;
    /*align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    height: 100vh; /* Adjust the height to your preference */
}

.name {
    font-size: 2.5rem;
    /*font-weight: bold;*/
    text-transform: lowercase;
    margin-left: 10rem; /* Add margin to move it down */
    letter-spacing: 0.2rem;
}

.icons {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-top: -1rem;
    margin-left: 10rem;
}

.icons li {
    margin-right: 1rem;
}

.icons li a {
    color: white;
    font-size: 1.75rem;
    padding: 0.1rem;
}

main {
    flex: 1; /* Let the main section grow and fill the available vertical space */
}

.icon {
    width: 40px;
    height: 40px;
}

