@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@700&display=swap');

@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins-Medium.otf') format('opentype');
}

body {
    background-image: url('pexels-marek-piwnicki-12638474.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins-Medium', Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container {
    background-color: white;
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.name {
    font-size: 2.5rem;
    text-transform: lowercase;
    margin-left: 10rem;
    letter-spacing: 0.2rem;
}

.icons {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-top: -1rem;
    margin-left: 10rem;
}

.icons li {
    margin-right: 1rem;
}

.icons li a {
    color: white;
    font-size: 1.75rem;
    padding: 0.1rem;
}

main {
    flex: 1;
}

.icon {
    width: 40px;
    height: 40px;
}

