/* Mobile Styles (up to 600px) */
@media only screen and (max-width: 600px) {
    
    /* Profile Container */
    .container {
        flex-direction: column;
    }

    .profile-picture-container {
        margin-bottom: 1rem; /* Add some space between the profile picture and name/title/company */
    }
    
    /* Name, Title, Company */
    .has-text {
        text-align: center; /* Center the text within the container */
        margin-top: 10px; /* Add a little space between the profile picture and the text */
    }

    /* Certification card wrapper */
    .certification-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center items horizontally */
    }

    .certification-card {
        width: 100%;
        border-radius: 8px;
        margin-left: 10px;
        margin-bottom: 20px;
        position: relative;
        border: 1px solid #ccc;
    }

    /* CSS for each certification card */
    .certification-card {
        max-width: 100%;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        position: relative;
        border: 1px solid #ccc;
    }

    /* Skills section */
    .technical-skills .skills-list,
    .soft-skills .skills-list {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr); /* Display two cards per row on mobile */
        gap: 0.5rem; /* Add some gap between the cards for better spacing */
    }
  
    /* Portfolio section */
    .portfolio-section .project-cards-wrapper {
      display: block;
    }
  
    .portfolio-section .project-card {
      width: 100%;
      margin-bottom: 20px;
    }
}
  
